.box-style {
    -fx-background-radius : 5px;
    -fx-effect : dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 8, 0, 0, 0);
    -fx-background-color : #fff;
}

.nav-form {
    -fx-background-color : linear-gradient(to top, #cc75ff, #dda6ff, #dda6ff, #dda6ff, #dda6ff, #cc75ff);
}

.center-button-left {
    -fx-background-radius : 50px 0 0 50px;
}

.center-button-right {
    -fx-background-radius : 0 50px 50px 0;
}

.stage-bar {
    -fx-background-color : #fff;
    -fx-border-width : 5px;
    -fx-border-color : #7c007c;
}

.close-button {
    -fx-background-color : transparent;
}

.scroll-pane {
    -fx-background-radius : 10px;
    -fx-border-radius : 10px;
}

.scroll-pane:hover {
    -fx-background-color : blue;
}

.hide-button {
    -fx-background-color : transparent;
}

.close-button:hover {
    -fx-background-color : red;
}

.hide-button:hover {
    -fx-background-color : #ccc;
}

.text-note {
    -fx-background-color : #fff;
    -fx-background-radius : 5px;
    -fx-border-width : 2px;
    -fx-border-radius : 5px;
    -fx-border-color : #000000;
}

.day-box-style {
    -fx-background-radius : 8px;
    -fx-background-color : #5947ff;
    -fx-border-width : 2px;
    -fx-border-color : #00ff4d;
    -fx-border-radius : 8px;
}


.nav-form {
   -fx-background-color : linear-gradient(to left, #cc75ff, #dda6ff, #dda6ff, #dda6ff, #dda6ff, #cc75ff);
}


.nav-button {
   -fx-background-color : transparent;
   -fx-cursor : hand;
   -fx-font-size : 16px;
   -fx-text-fill : #67009e;
   -fx-font-family : Arial;
   -fx-alignment : CENTER;
   -fx-background-radius : 20px;
}


.search {
    -fx-background-color : transparent;
    -fx-font-size : 13px;
    -fx-font-family : Arial;
    -fx-border-color : linear-gradient(to left, #cc75ff, #dda6ff, #dda6ff, #dda6ff, #dda6ff, #cc75ff);
    -fx-border-radius : 4px;
    -fx-border-width : .8px;
}

.search:focused {
    -fx-border-width : 1.5px;
}

.tables-button {
    -fx-text-fill : #000000;
    -fx-font-size : 20px;
    -fx-background-color : #00da0b;
}

.tables-button:hover {
    -fx-background-color : linear-gradient(to top, #00da0b, #76ff7d, #76ff7d, #00da0b);
}

.delete-all-button {
    -fx-background-color : red;
    -fx-font-size : 15px;
}

.delete-all-button:hover {
    -fx-background-color : #750000;
    -fx-text-fill : #fff;
}

.delete-button {
    -fx-background-color : #ff7d7d;
    -fx-font-size : 15px;
}

.delete-button:hover {
    -fx-background-color : #9a3131;
    -fx-text-fill : #fff;
}

.delete1-button {
    -fx-background-color : #ff0000;
    -fx-font-size : 15px;
}

.delete2-button {
    -fx-background-color : #ff5353;
    -fx-font-size : 15px;
}

.delete2-button:hover {
    -fx-background-color : #ff0000;
    -fx-font-size : 15px;
}

.add-button {
    -fx-background-color : #00da0b;
    -fx-font-size : 16px;
}

.update-button {
    -fx-background-color : #5a51ff;
    -fx-font-size : 16px;
}

.update-button:hover {
    -fx-background-color : #1d1979;
    -fx-text-fill : #fff;
}

.delete1-button:hover {
    -fx-background-color : #ff7676;
    -fx-font-size : 15px;
    -fx-text-fill : #fff;
}

.top-section {
    -fx-border-color : linear-gradient(to top , #1a00ff, #00c7ff, #00c7ff, #1a00ff);
    -fx-background-color : #e1b3ff;
    -fx-border-width : 2px;
    -fx-background-radius : 20px;
    -fx-border-radius : 20px;
}

.top-section:hover {
    -fx-background-color : #a453dd;
    -fx-border-width : 5px;
    -fx-translate-y : -15px;
}

.add-button:hover {
    -fx-background-color : #71ff42;
    -fx-text-fill : #fff;
    -fx-font-size : 16px;
}

.background2 {
    -fx-background-color : #fff;
}

.background1 {
    -fx-background-color : #fff;
    -fx-background-radius : 5px;
    -fx-border-radius : 5px;
    -fx-border-width : 2px;
    -fx-border-color : linear-gradient(to top , #1a00ff, #00c7ff, #00c7ff, #1a00ff);
}

.background3 {
    -fx-background-color : #fff;
    -fx-background-radius : 5px;
    -fx-border-radius : 5px;
    -fx-border-width : 2px;
    -fx-border-color : linear-gradient(to top , #1a00ff, #00c7ff, #00c7ff, #1a00ff);
}

.bottom-section {
    -fx-effect : dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 8, 0, 0, 0);
    -fx-background-radius : 5px;
    -fx-background-color : #6a6aff;
}

.bottom-section:hover {
    -fx-effect : dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 8, 0, 0, 0);
    -fx-background-radius : 5px;
    -fx-background-color : #8b8bff;
}

.screen-Style {
    -fx-background-radius : 10px;
    -fx-background-color : #fff;
}


.table-view {
    -fx-background-color : transparent;
    -fx-border-color : linear-gradient(to left, #cc75ff, #dda6ff, #dda6ff, #dda6ff, #dda6ff, #cc75ff);
    -fx-border-radius : 8px;
    -fx-border-width : 2px;
    -fx-padding : 0px;
}


.table-view .table-column {
    -fx-alignment : CENTER;
}

.table-view .column-header-background {
    -fx-background-color : linear-gradient(to top, #cc75ff, #dda6ff, #dda6ff, #cc75ff);
    -fx-background-radius : 8px 8px 0px 0px;
}

.table-view .column-header, .filter {
    -fx-background-color : transparent;
    -fx-size : 40px;
}

.table-view .column-header .label {
    -fx-text-fill : #fff;
    -fx-font-family : Arial;
}